.cell1 {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
  padding: 16px 24px;
  border: 1px solid #f0f0f0;
}
.cell2 {
  padding: 16px 24px;
  border: 1px solid #f0f0f0;

  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  max-width: 25%;
  flex-basis: 25%;
}
.pac-container {
  z-index: 9999;
}
