.cell1 {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
  padding: 16px 24px;
  border: 1px solid #f0f0f0;
}
.cell2 {
  padding: 16px 24px;
  border: 1px solid #f0f0f0;

  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  max-width: 25%;
  flex-basis: 25%;
}
.pac-container {
  z-index: 9999;
}
.react-calendar__month-view__days__day--weekend {
  color: #000 !important;
}
.dateTimepicker .react-time-picker__inputGroup__input{
  width: auto !important;
}
.dateTimepicker .react-time-picker__wrapper{
  border-radius: 24px;
  margin-top: 5px;
    height: 53px;
    border-radius: 50px;
    border: 1px solid #0c0c0c;
    outline: 0;
    padding: 15px 25px;
    font-size: 18px;
}
.dateTimepicker .input-label{
  font-size: 14px;
  color: #0c0c0c;
  font-weight: 500;
  margin-left: 14px;
}
.d-flex
{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.ant-select-item-option-content {
overflow: initial !important;
white-space: initial !important;
text-overflow: initial !important; }

.customTextare{

  height: 118px;
  border-radius: 27px;
  border: 1px solid #0c0c0c;
  outline: 0;
  padding: 15px 25px;
  font-size: 18px;
  width: 100%;
  max-width: 1380px;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
